<app-header></app-header>
<div id="corps" style="margin-top: 5vh;">
  <div class="contain">
    <a href="#"
      ><img src="../../../assets/img/Composant 8 – 1.png" alt="retour en haut"
    /></a>
  </div>

  <section id="presentation">
    <div class="txt">
      <h1>Bonjour ! Je m'appelle Thomas LIEDTS</h1>
      <p>et j'apprends le développement web.</p>
      <p>
        Je suis actuellement à la recherche d'un contrat de professionnalisation
        en région parisienne.
      </p>
    </div>
    <div class="img-block">
      <img
        class="profile-img"
        src="../../../assets/img/thomas.png"
        alt="Photo profile"
      />
    </div>
  </section>

  <section id="aPropos">
    <h2>À propos</h2>
    <div class="aPGlobal">
      <div class="col">
        <p>
          En reconversion professionnelle, j’ai toujours été attiré par le
          digital et j’ai donc décidé de me lancer dans une formation de
          développeur web.<br />
          Je suis à la recherche d’une alternance dès que possible pour une
          durée de 13 mois.
        </p>
      </div>
      <div class="col">
        <h3>FORMATION ET DIPLOMES</h3>
        <div class="liste">
          <ul>
            <li>
              Septembre 2020 • Concepteur développeur d’applications Webitech •
              Paris
            </li>
            <li>
              2019 • Formation de Développeur web Jacascript Fullstack
              Simplon.co • Nanterre
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <h3>J’aime travailler avec</h3>
        <div class="liste">
          <div><img src="../../../assets/img/icons8-code-100.png" /></div>
          <ul>
            <li>HTML & CSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>

        <div class="liste">
          <div><img src="../../../assets/img/Groupe 1.png" alt="" /></div>
          <ul>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>Angular</li>
            <li>React JS</li>
            <li>Node JS</li>
            <li>Express JS</li>
          </ul>
        </div>
      </div>
    </div>
    <a
      class="btnCv"
      href="../../../assets/contenu/CV_Thomas_LIEDTS_DevWeb_Alternance.pdf"
      target="_blank"
      >Télécharger mon C.V.</a
    >
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <div>
      <a href="https://www.linkedin.com/in/thomas-liedts/"
        ><img
          src="../../../assets/img/icons8-linkedin-150.png"
          alt="lien linkedin"
      /></a>

      <a href="https://github.com/thomasliedts"
        ><img src="../../../assets/img/icons8-github-128.png" alt="lien github"
      /></a>
    </div>
    <a href="mailto:thomasliedts@gmail.com" id="mpMe">Écrivez-moi !</a>
  </section>
</div>
<app-footer></app-footer>
