#corps {
  width: 70%;
  margin: 0 auto;
  .contain {
    width: 4vw;
    margin: 0 auto;
    position: fixed;
    right: 10%;

    img {
      width: 100%;
    }
  }
  #presentation {
    height: 100vh;
    text-align: center;
    .txt {
      padding-top: 50px;
      text-transform: uppercase;
    }
    .img-block {
      padding-top: 50px;
      .profile-img {
        height: 400px;
      }
    }
  }

  #aPropos {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10vh;
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
    }
    .aPGlobal {
      display: flex;
      justify-content: space-around;
      align-items: start;
      width: 95%;
      margin: 0 auto;
      h3 {
        text-transform: uppercase;
      }
      p {
        width: 80%;
      }
      .col {
        width: 30%;

        .liste {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        ul {
          width: 60%;
          margin: 0;
          padding: 5%;
          list-style: none;
        }
      }
    }

    .btnCv {
      font-size: 1em;
      text-align: center;
      padding-top: 10vh;
      background-color: #180191;
      width: 20%;
      padding: 1.3em;
      transition: 0.5s;
    }

    a:hover {
      background-color: #070707;
      color: #180191;
    }
  }

  #contact {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15%;
    margin-top: 10vh;
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
    }
    div {
      width: 20%;
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding-bottom: 5vh;
      justify-content: space-around;
    }
    #mpMe {
      text-align: center;
      padding-top: 10vh;
      background-color: #180191;
      width: 20%;
      padding: 1.3em;
      transition: 0.5s;
    }
    #mpMe:hover {
      background-color: #070707;
      color: #180191;
    }
  }
}

@media screen and (max-width: 800px) {
  .contain {
    min-width: 10vw;
  }
  #presentation {
    height: 30vh;
  }
  #aPropos {
    padding-bottom: 5%;
    .aPGlobal {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .col {
        text-align: center;
        width: 100% !important;
        .liste {
          flex-direction: column;
        }
        p {
          width: 100% !important;
          box-sizing: border-box;
          padding: 5%;
        }
      }
    }
    .btnCv {
      min-width: 40%;
    }
  }
  #contact {
    height: 30vh;
    #mpMe {
      min-width: 40%;
    }
  }
}
