<app-header></app-header>

<section>
  <h1>Voici les projets que j'ai réalisés</h1>
</section>
<div class="container">
  <div class="card">
    <div class="title-card"><h2>GamesPack</h2></div>
    <div class="img-card">
      <img
        src="../../../assets//img/gamespackmin800px.jpg"
        alt="image du site gamespack"
      />
    </div>
    <div class="text-card">
      <p>
        Voici la partie Front du projet chef d'œuvre que j'ai fait pour mon
        titre professionnel. <br />
        J'ai utilisé Angular comme framework front et boostrap comme framework
        css.
      </p>
    </div>
    <a
      href="https://gamepack-front.firebaseapp.com/"
      target="_blank"
      class="btn-link"
      >Voir le projet</a
    >
  </div>
  <div class="card">
    <div class="title-card"><h2>DevConnector</h2></div>
    <div class="img-card">
      <img
        src="../../../assets//img/devconnectmin800.jpg"
        alt="image du site dev connector"
      />
    </div>
    <div class="text-card">
      <p>
        Un réseau social pour développeurs. <br />
        Ce projet a été fait avec React et Redux et le back avec Node et
        Express.
      </p>
    </div>

    <a
      href="https://devsconnectors.herokuapp.com/"
      target="_blank"
      class="btn-link"
      >Voir le projet</a
    >
  </div>
  <div class="card">
    <div class="title-card"><h2>Contact Keeper</h2></div>
    <div class="img-card">
      <img
        src="../../../assets//img/contactKeeper800.jpg"
        alt="image du site contact keeper"
      />
    </div>
    <div class="text-card">
      <p>
        C'est un site qui permet d'enregistrer ses contacts. <br />
        Ce site a été fait avec React et ses hooks et pour la partie back avec
        Node et Express.
      </p>
    </div>
    <a
      href="https://sheltered-falls-30805.herokuapp.com/register"
      target="_blank"
      class="btn-link"
      >Voir le projet</a
    >
  </div>
</div>
<app-footer class="footer"></app-footer>
