section {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
  .card {
    opacity: 0.5;
    background-color: #3b3939;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 50px;

    width: 30%;
    border-radius: 5px;

    .title-card {
      text-align: center;
    }
    .img-card {
      min-height: 125px;
      max-height: auto;
      width: 80%;
      background-color: white;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100%;
        contain: content;
        object-fit: cover;
      }
    }
    .text-card {
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      width: 80%;
      p {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        opacity: 1;
      }
    }
    .btn-link {
      background-color: #180191;
      padding: 9px 9px;
      transition: 0.5s;
    }
    a:hover {
      background-color: #070707;
      color: #180191;
    }
  }
  .card:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    min-height: 1600px;
    .card {
      min-width: 50%;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    display: flex;
    width: 100%;
    min-height: 1450px;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    .card {
      min-width: 90%;
      min-height: 250px;
      .img-card {
        height: 50px;
      }
      .text-card {
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        margin-bottom: 30px;
        text-align: center;
        width: 80%;
        padding-top: 5%;
        height: auto;
        p {
          margin: 0 auto;
          text-align: center;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
  .footer {
    display: none;
  }
}
