<section>
  <h1>Voici les projets que j'ai réalisé</h1>
</section>
<div class="container">
  <div class="card">
    <div class="title-card"><h2>project name</h2></div>
    <div class="img-card"></div>
    <div class="text-card">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo rerum quam
        nesciunt voluptatibus blanditiis illum? At rem, illum assumenda eos
        nesciunt nisi vel aut debitis totam, voluptate fugiat? Vitae
        exercitationem reiciendis facilis similique aliquam non mollitia eum
        odit cupiditate deserunt perspiciatis est quia autem repudiandae fuga
        cumque quisquam sint consequatur quae fugiat voluptatum laudantium, in
        possimus voluptate! Saepe quibusdam reprehenderit pariatur maiores quam
        debitis facilis nam tenetur quos, optio magni eius dignissimos. Fuga
        adipisci, quis ipsa doloribus quasi autem modi.
      </p>
    </div>
    <a href="#!" class="btn-link">Voir le projet</a>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
