section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  .card {
    background-color: red;
    margin: 15px 50px;
    height: 60%;
    width: 30%;
    border-radius: 5px;
    overflow: auto;
    .title-card {
      text-align: center;
    }
    .img-card {
      height: 30%;
      width: 80%;
      background-color: white;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .text-card {
      margin: 0 auto;
      display: flex;
      margin-bottom: 30px;
      text-align: center;
      overflow: auto;
      width: 80%;
      height: 40%;
      p {
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
    }
    .btn-link {
      position: relative;
      margin-top: 50px;
      left: 65%;
      background-color: #180191;
      padding: 9px 9px;
      bottom: 0;
      transition: 0.5s;
    }
    a:hover {
      background-color: #070707;
      color: #180191;
    }
  }
}

@media screen and (max-width: 1080px) {
  .card {
    min-width: 60%;
    min-height: 80%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    min-width: 80%;
    min-height: 80%;
  }
}
