footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 1vh;
  background-color: #070707;
  div {
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;
        margin: 1vw;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 5px;
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
